@import './config-scss/reset.scss';
@import './config-scss/variables.scss';
@import './config-scss//rem-calc.scss';
@import './config-scss/animation.scss';


html {
  font-family: 'Montserrat', sans-serif;
  background: var(--colorBackground);
}
@media (min-width: 768px) {
  main {
    width: rem-calc(800);
    margin:0 auto;
    box-sizing: border-box;
  }
}
// @media (max-width: 412px) {
//   main {
//     width: 100%;
//     margin:0 auto;
//     box-sizing: border-box;
//   }
// }
